$movil: 375px;
$primary-light: hsl(243, 100%, 93%);
$gray: hsl(229, 7%, 55%);
$primary: hsl(228, 56%, 26%);
$primary-dark: hsl(229, 57%, 11%);
$pink: hsl(6, 100%, 80%);
$fusia: hsl(335, 100%, 65%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: $primary-dark url("images/bg-desktop.png") no-repeat 0 50vh;
  @media (max-width: $movil) {
    background: $primary-dark url("images/bg-mobile.png") no-repeat 0 0;
  }
}

.center-childer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vw;
  height: 25vh;
  // border: 2px solid yellow;
  display: grid;
  grid: repeat(4, 1fr), 2fr 3fr;
  gap: 2rem;
  grid-template-areas:
    "logo-box logo-box ... ... ..."
    "logo-box logo-box progress-box progress-box progress-box"
    "logo-box logo-box progress-box progress-box progress-box"
    "logo-box logo-box progress-box progress-box progress-box";
  @media (max-width: $movil) {
    height: 50vh;
    width: 80vw;
    grid: 4fr 3fr, 1fr;
    gap: 1rem;
    grid-template-areas:
      "logo-box"
      "logo-box"
      "logo-box"
      "logo-box"
      "progress-box"
      "progress-box"
      "progress-box";
  }
}

.container > div {
  background-color: $primary;
}

.box-header {
  grid-area: logo-box;
  border-radius:1rem 7rem 1rem 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  @media (max-width: $movil) {
    border-radius: 0.5rem 5rem 0.5rem 0.5rem;
  }
}
.icons {
  display: flex;
  justify-content: start;
}
.icons > div {
  width: 3.325vw;
  height: 3.325vw;
  background-color: $primary-dark;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  @media (max-width: $movil) {
    width: 12vw;
    height: 12vw;
  }
}

.folder-icon {
  margin-left: 0.972vw;
  margin-right: 0.972vw;
  @media (max-width: $movil) {
    margin-left: 4.5vw;
    margin-right: 4.5vw;
  }
}

.box-progress-bar {
  grid-area: progress-box;
  border-radius: 0.5rem;
  color: $primary-light;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media(max-width: $movil){
    align-items: center;
  }

  stronge {
    font-weight: 700;
  }
}
.border-progress {
  width: 100%;
  height: 1.5rem;
  margin-top: 0.972vw;
  margin-bottom: 0.77vw;
  background-color: $primary-dark;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}
.line-progress {
  width: 70%;
  height: 1rem;
  margin-left: 0.3rem;
  background: linear-gradient(to right, $pink, $fusia);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.point-progress {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.2rem;
  border-radius: 100%;
  background-color: white;
}

.limit-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.limit-progress > h5 {
  display: inline;
}

.message {
  width: 12rem;
  height: 5rem;
  position: fixed;
  top: 20vw;
  right: 22vw;
  background-color: white;
  border-radius: 1rem 1rem 0 1rem;
  color: black;
  @media (max-width: $movil) {
    width: 9rem;
    height: 4rem;
    top: 113vw;
    right: 31vw;
    border-radius: 1rem;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top: 30px solid white;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: -20px;
    @media (max-width: $movil) {
      border-left: 0;
      border-top: 0;
    }
  }
}

.claro{
  color: gray;
  font-size: 0.8rem;
  text-transform: uppercase;
}
